<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary" style="display: flex;justify-content: space-between;">
        <h4 class="card-title ">- Room Management -</h4>
        <button style="border-radius: 3rem; font-size: 10px" class="btn btn-success">
          <%= link_to t("add_new_room +"), admin_rooms_new_path %>
        </button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
           <% unless @rooms.empty?%>
           <%= render "admin/rooms/room" %>
           <% else %>
              <div class="col-sm-12">
                <h5>No having rooms in booking</h5>
              </div>
           <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
