<form class="navbar-form">
<div class="input-group no-border">
<input type="text" value="" class="form-control" placeholder="Search...">
<button type="submit" class="btn btn-default btn-round btn-just-icon">
<i class="material-icons">search</i>
<div class="ripple-container"></div>
</button>
</div>
</form>

<%= form_with url: "/" , class: "navbar-form", method: :get do |form| %>
<%= form.label :q, "Search for:" %>
<%= form.text_field :q %>
<%= form.submit "Search" %>
<% end %>
