<% if @rooms.empty? %>
  <div class="container">
    <div class="text-center">
      <h1><%= t "now_not_have_room_ready" %></h1>
    </div>
  </div>
  <% else %>
  <div class="container">
    <div class="row accomodation_two">
      <% @rooms.each do |r| %>
        <div class="col-lg-3 col-sm-6">
          <div class="accomodation_item text-center">
            <div class="hotel_img">
              <img src="image/room1.jpg" alt="">
              <a href="#" class="btn theme_btn button_hover"><%= t ("book_now") %></a>
            </div>
            <a href="#"><h4 class="sec_h4"><%= r.name %></h4></a>
            <a href="#"><h4 class="sec_h4">Double Deluxe Room</h4></a>
            <h5>$250<small>/night</small></h5>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
