<%= form_with url: rooms_path, method: :get, class: "form-search"  do |f| %>
  <div class="col-md-4">
    <%= f.text_field :start_date, class: "form-control", onfocus: "(this.type='date')", placeholder: t("arrival_date") %>
  </div>
  <div class="col-md-4">
    <%= f.text_field :end_date, class: "form-control", onfocus: "(this.type='date')", placeholder:  t("departure_date") %>
  </div>
  <div class="col-md-4">
    <%= f.submit t("submit") , class: "book_now_btn button_hover" %>
  </div>
<% end %>
